<ul>
    <li><a [routerLink]="['/products']">Products</a></li>
    <li><a [routerLink]="['/manageProducts']">Add Item</a></li>
    <li><a [routerLink]="['/removeItem']">Remove Item</a></li>
    <li style="float: right;"><button mat-raised-button color="warn" (click)="logOut()">Log Out</button></li>
    <li style="float: right;">
      <label style="margin-right:10px; color: white">Users List</label>
      <select style="margin-top:7px; margin-right: 5px; background-color: azure; font-size: x-large;" (click)="getUserList()">
          <option *ngFor="let u of users" disabled="true" style="font-size: medium;">
              {{u.name}}
          </option>
      </select>
    </li>
  </ul>